# Core Libraries
pandas
numpy
scikit-learn

# Backend (FastAPI)
fastapi
uvicorn
sqlalchemy
passlib[bcrypt]
python-jose
python-multipart

# Web Scraping
requests
beautifulsoup4

# Streamlit (for historical NAV phase)
streamlit

# Utilities
python-dotenv

# Visualization (optional but useful)
matplotlib
seaborn
